In [1]:

import pandas as pd

most_popular_albuns = pd.read_csv('../../Data/cleaned_data/1. rate_your_music_top_most_popular_albuns_CLEANED.csv')

artist_grammys = pd.read_csv('../../Data/cleaned_data/2. greatest_artists_grammys_billboard_version3_CLEANED_.csv')

#spotify_top_hits_2000_2019 = pd.read_csv('../../Data/cleaned_data/3. Top Hits Spotify from 2000-2019[CLEANED].csv')

#best_selling_artists_of_all_time = pd.read_csv('../../Data/cleaned_data/4. best_selling_artists_of_all_time[CLEANED].csv')

#spotify_most_played_songs_of_all_time = pd.read_csv('../../Data/cleaned_data/5. Spotify-2000.csv')

In [2]:
most_popular_albuns

      popular_ranking          artist_name  release_date       genre
0                   1            radiohead          1997        rock
1                   2            radiohead          2000        rock
2                   3           pink floyd          1973        rock
3                   4  my bloody valentine          1991        rock
4                   5           kanye west          2010         pop
...               ...                  ...           ...         ...
4839             4995       blind guardian          1988       metal
4840             4996              eluvium          2007  electronic
4841             4997            summoning          2001       metal
4842             4999       third ear band          1970        folk
4843             5000                 abba          1977         pop

[4844 rows x 4 columns]

In [3]:
most_popular_albuns['artist_name'].value_counts().head(50)

david bowie                         24
bob dylan                           22
rush                                19
the rolling stones                  18
iron maiden                         17
weezer                              16
black sabbath                       16
swans                               15
the beach boys                      15
r.e.m.                              15
ac/dc                               15
megadeth                            15
queen                               15
judas priest                        15
miles davis                         15
genesis                             14
pink floyd                          14
tom waits                           14
the beatles                         14
king gizzard & the lizard wizard    14
nas                                 13
nine inch nails                     13
opeth                               13
u2                                  13
dream theater                       13
king crimson                        13
depeche mode                        13
green day                           13
sonic youth                         12
the cure                            12
slayer                              12
autechre                            12
yes                                 11
metallica                           11
neil young                          11
taylor swift                        11
beck                                11
xiu xiu                             11
bruce springsteen                   11
deep purple                         11
eminem                              10
the flaming lips                    10
radiohead                           10
madonna                             10
björk                               10
tim hecker                          10
kraftwerk                           10
jay-z                               10
kanye west                          10
foo fighters                         9
Name: artist_name, dtype: int64

In [4]:
artist_grammys

                    artist_name  total_awards_nominations  uk number 1's
0                   the beatles                        29             17
1                     bob dylan                        38              1
2                 elvis presley                         4             21
3            the rolling stones                        14              8
4                   chuck berry                         0              1
..                          ...                       ...            ...
78  diana ross and the supremes                         2              1
79                       r.e.m.                        13              0
80              curtis mayfield                         8              0
81                 carl perkins                         2              0
82                talking heads                         2              0

[83 rows x 3 columns]

In [5]:
a = most_popular_albuns
b = artist_grammys

most_popular_albuns_and_nominated_artists = pd.merge(left = a, right = b, left_on = 'artist_name', 
                                                   right_on = 'artist_name', how = 'outer' )

In [6]:
d_test = most_popular_albuns_and_nominated_artists[most_popular_albuns_and_nominated_artists['popular_ranking'].isna()==True]
d_test
# it's good to check if this artists are not included in the df most_popular_albuns so we can see if the merge went good

,popular_ranking,artist_name,release_date,genre,total_awards_nominations,uk number 1's
4844,NaN,chuck berry,NaN,NaN,0.0,1.0
4845,NaN,jimi hendrix,NaN,NaN,1.0,0.0
4846,NaN,ray charles,NaN,NaN,37.0,1.0
4847,NaN,beach boys,NaN,NaN,4.0,2.0
4848,NaN,sam cooke,NaN,NaN,6.0,0.0
4849,NaN,muddy waters,NaN,NaN,11.0,0.0
4850,NaN,bo diddley,NaN,NaN,2.0,0.0
4851,NaN,jerry lee lewis,NaN,NaN,3.0,0.0
4852,NaN,smokey robinson & the miracles,NaN,NaN,1.0,0.0
4853,NaN,everly brothers,NaN,NaN,4.0,4.0
4854,NaN,roy orbison,NaN,NaN,9.0,3.0
4855,NaN,run,NaN,NaN,1.0,1.0
4856,NaN,howlin' wolf,NaN,NaN,3.0,0.0
4857,NaN,tina turner,NaN,NaN,25.0,0.0
4858,NaN,phil spector,NaN,NaN,3.0,0.0
4859,NaN,the temptations,NaN,NaN,9.0,0.0
4860,NaN,jackie wilson,NaN,NaN,2.0,0.0
4861,NaN,the eagles,NaN,NaN,18.0,0.0
4862,NaN,the four tops,NaN,NaN,1.0,1.0
4863,NaN,the drifters,NaN,NaN,1.0,0.0
4864,NaN,james taylor,NaN,NaN,18.0,0.0
4865,NaN,booker t & the mg's,NaN,NaN,4.0,0.0
4866,NaN,diana ross and the supremes,NaN,NaN,2.0,1.0
4867,NaN,carl perkins,NaN,NaN,2.0,0.0

In [7]:
list1 = list(d_test['artist_name'])
most_popular_albuns['popular_ranking'].isin(list1).value_counts()

# merge went's good since none of that artist is in the df 'most_popular_albuns'

False    4844
Name: popular_ranking, dtype: int64

In [8]:
most_popular_albuns_and_nominated_artists.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4868 entries, 0 to 4867
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   popular_ranking           4844 non-null   float64
 1   artist_name               4868 non-null   object
 2   release_date              4844 non-null   float64
 3   genre                     4844 non-null   object
 4   total_awards_nominations  448 non-null    float64
 5   uk number 1's             448 non-null    float64
dtypes: float64(4), object(2)
memory usage: 266.2+ KB

In [9]:
#Cleaning null values

#popular_rating
    #here we'll replace the missing values for 0, that means that this artists don't have an album on df 1 'most_popular_albuns'

most_popular_albuns_and_nominated_artists['popular_ranking'] = most_popular_albuns_and_nominated_artists['popular_ranking'].fillna(0)

most_popular_albuns_and_nominated_artists['popular_ranking'].isna().sum() # 0. it's ok


#total_awards_nominations and uk number 1's
    #here we'll replace the missing values for 0, that means that this artists don't have nominations for awards or have been ins uk number 1's'

most_popular_albuns_and_nominated_artists['total_awards_nominations'] = most_popular_albuns_and_nominated_artists['total_awards_nominations'].fillna(0)

most_popular_albuns_and_nominated_artists['total_awards_nominations'].isna().sum() # 0. it's ok

most_popular_albuns_and_nominated_artists["uk number 1's"] = most_popular_albuns_and_nominated_artists["uk number 1's"].fillna(0)

most_popular_albuns_and_nominated_artists["uk number 1's"].isna().sum() # 0. it's ok

0

In [10]:
k = most_popular_albuns_and_nominated_artists.copy()

In [11]:


#d_test['genre'].apply('clean_genre')

d_test.loc[[4844,4845,4847,4861,4854,4853,4856,4857,4858,4867],["genre"]] = d_test.loc[[4844,4845,4847,4861,4854,4853,4856,4857,4858,4867],["genre"]].apply(lambda x: x.fillna('rock'))
d_test.loc[[4849,4850,4851,4856],["genre"]] = d_test.loc[[4849,4850,4851,4856],["genre"]].apply(lambda x: x.fillna('blues'))
d_test.loc[[4846,4859,4865,4866,4848,4852,4860,4862,4863,4865],["genre"]] = d_test.loc[[4846,4859,4865,4866,4848,4852,4860,4862,4863,4865],["genre"]].apply(lambda x: x.fillna('soul'))
d_test.loc[[4864],["genre"]] = d_test.loc[[4864],["genre"]].apply(lambda x: x.fillna('folk'))

In [12]:
d_test

,popular_ranking,artist_name,release_date,genre,total_awards_nominations,uk number 1's
4844,NaN,chuck berry,NaN,rock,0.0,1.0
4845,NaN,jimi hendrix,NaN,rock,1.0,0.0
4846,NaN,ray charles,NaN,soul,37.0,1.0
4847,NaN,beach boys,NaN,rock,4.0,2.0
4848,NaN,sam cooke,NaN,soul,6.0,0.0
4849,NaN,muddy waters,NaN,blues,11.0,0.0
4850,NaN,bo diddley,NaN,blues,2.0,0.0
4851,NaN,jerry lee lewis,NaN,blues,3.0,0.0
4852,NaN,smokey robinson & the miracles,NaN,soul,1.0,0.0
4853,NaN,everly brothers,NaN,rock,4.0,4.0
4854,NaN,roy orbison,NaN,rock,9.0,3.0
4855,NaN,run,NaN,NaN,1.0,1.0
4856,NaN,howlin' wolf,NaN,rock,3.0,0.0
4857,NaN,tina turner,NaN,rock,25.0,0.0
4858,NaN,phil spector,NaN,rock,3.0,0.0
4859,NaN,the temptations,NaN,soul,9.0,0.0
4860,NaN,jackie wilson,NaN,soul,2.0,0.0
4861,NaN,the eagles,NaN,rock,18.0,0.0
4862,NaN,the four tops,NaN,soul,1.0,1.0
4863,NaN,the drifters,NaN,soul,1.0,0.0
4864,NaN,james taylor,NaN,folk,18.0,0.0
4865,NaN,booker t & the mg's,NaN,soul,4.0,0.0
4866,NaN,diana ross and the supremes,NaN,soul,2.0,1.0
4867,NaN,carl perkins,NaN,rock,2.0,0.0

In [13]:
d_test['genre'] = d_test['genre'].dropna(axis=0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24436\1833568565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_test['genre'] = d_test['genre'].dropna(axis=0)

In [14]:
d_test

,popular_ranking,artist_name,release_date,genre,total_awards_nominations,uk number 1's
4844,NaN,chuck berry,NaN,rock,0.0,1.0
4845,NaN,jimi hendrix,NaN,rock,1.0,0.0
4846,NaN,ray charles,NaN,soul,37.0,1.0
4847,NaN,beach boys,NaN,rock,4.0,2.0
4848,NaN,sam cooke,NaN,soul,6.0,0.0
4849,NaN,muddy waters,NaN,blues,11.0,0.0
4850,NaN,bo diddley,NaN,blues,2.0,0.0
4851,NaN,jerry lee lewis,NaN,blues,3.0,0.0
4852,NaN,smokey robinson & the miracles,NaN,soul,1.0,0.0
4853,NaN,everly brothers,NaN,rock,4.0,4.0
4854,NaN,roy orbison,NaN,rock,9.0,3.0
4855,NaN,run,NaN,NaN,1.0,1.0
4856,NaN,howlin' wolf,NaN,rock,3.0,0.0
4857,NaN,tina turner,NaN,rock,25.0,0.0
4858,NaN,phil spector,NaN,rock,3.0,0.0
4859,NaN,the temptations,NaN,soul,9.0,0.0
4860,NaN,jackie wilson,NaN,soul,2.0,0.0
4861,NaN,the eagles,NaN,rock,18.0,0.0
4862,NaN,the four tops,NaN,soul,1.0,1.0
4863,NaN,the drifters,NaN,soul,1.0,0.0
4864,NaN,james taylor,NaN,folk,18.0,0.0
4865,NaN,booker t & the mg's,NaN,soul,4.0,0.0
4866,NaN,diana ross and the supremes,NaN,soul,2.0,1.0
4867,NaN,carl perkins,NaN,rock,2.0,0.0

In [15]:
#release_date
    #here we'll replace the missing values for the year/decade that the artist had most activity

most_popular_albuns_and_nominated_artists.loc[[4844,4849,4851,4856,4854,4867],["release_date"]] = \
most_popular_albuns_and_nominated_artists.loc[[4844,4849,4851,4856,4854,4867],["release_date"]].\
apply(lambda x: x.fillna(1950))

most_popular_albuns_and_nominated_artists.loc[[4846,4847,4848,4845,4850,4852,4853,4858,4860,4862,4863,4865],["release_date"]] = \
most_popular_albuns_and_nominated_artists.loc[[4846,4847,4848,4845,4850,4852,4853,4858,4860,4862,4863,4865],["release_date"]].\
apply(lambda x: x.fillna(1960))

most_popular_albuns_and_nominated_artists.loc[[4859,4861,4864,4866],["release_date"]] = \
most_popular_albuns_and_nominated_artists.loc[[4859,4861,4864,4866],["release_date"]].\
apply(lambda x: x.fillna(1970))

most_popular_albuns_and_nominated_artists.loc[[4857],["release_date"]] = \
most_popular_albuns_and_nominated_artists.loc[[4857],["release_date"]].\
apply(lambda x: x.fillna(1980))

In [16]:
#genre

most_popular_albuns_and_nominated_artists.loc[[4844,4845,4847,4861,4854,4853,4856,4857,4858,4867],["genre"]] = \
most_popular_albuns_and_nominated_artists.loc[[4844,4845,4847,4861,4854,4853,4856,4857,4858,4867],["genre"]].\
apply(lambda x: x.fillna('rock'))

most_popular_albuns_and_nominated_artists.loc[[4849,4850,4851,4856],["genre"]] =\
most_popular_albuns_and_nominated_artists.loc[[4849,4850,4851,4856],["genre"]].apply(lambda x: x.fillna('blues'))

most_popular_albuns_and_nominated_artists.loc[[4846,4859,4865,4866,4848,4852,4860,4862,4863,4865],["genre"]] = \
most_popular_albuns_and_nominated_artists.loc[[4846,4859,4865,4866,4848,4852,4860,4862,4863,4865],["genre"]].\
apply(lambda x: x.fillna('soul'))

most_popular_albuns_and_nominated_artists.loc[[4864],["genre"]] =\
most_popular_albuns_and_nominated_artists.loc[[4864],["genre"]].apply(lambda x: x.fillna('folk'))

In [17]:
most_popular_albuns_and_nominated_artists.isna().sum()

popular_ranking             0
artist_name                 0
release_date                1
genre                       1
total_awards_nominations    0
uk number 1's               0
dtype: int64

In [18]:
most_popular_albuns_and_nominated_artists = most_popular_albuns_and_nominated_artists.dropna()

In [19]:
most_popular_albuns_and_nominated_artists.isna().sum()

popular_ranking             0
artist_name                 0
release_date                0
genre                       0
total_awards_nominations    0
uk number 1's               0
dtype: int64

In [20]:
most_popular_albuns_and_nominated_artists.head(50)

,popular_ranking,artist_name,release_date,genre,total_awards_nominations,uk number 1's
0,1.0,radiohead,1997.0,rock,18.0,0.0
1,2.0,radiohead,2000.0,rock,18.0,0.0
2,6.0,radiohead,2007.0,rock,18.0,0.0
3,9.0,radiohead,1995.0,rock,18.0,0.0
4,21.0,radiohead,2001.0,rock,18.0,0.0
5,37.0,radiohead,2003.0,rock,18.0,0.0
6,55.0,radiohead,2016.0,rock,18.0,0.0
7,75.0,radiohead,1993.0,rock,18.0,0.0
8,95.0,radiohead,2011.0,rock,18.0,0.0
9,1762.0,radiohead,2009.0,rock,18.0,0.0
10,3.0,pink floyd,1973.0,rock,4.0,1.0
11,7.0,pink floyd,1975.0,rock,4.0,1.0
12,25.0,pink floyd,1979.0,rock,4.0,1.0
13,27.0,pink floyd,1977.0,rock,4.0,1.0
14,65.0,pink floyd,1967.0,rock,4.0,1.0
15,70.0,pink floyd,1971.0,rock,4.0,1.0
16,175.0,pink floyd,1970.0,rock,4.0,1.0
17,231.0,pink floyd,1968.0,rock,4.0,1.0
18,378.0,pink floyd,1994.0,rock,4.0,1.0
19,416.0,pink floyd,1969.0,rock,4.0,1.0
20,495.0,pink floyd,1983.0,rock,4.0,1.0
21,594.0,pink floyd,1972.0,rock,4.0,1.0
22,626.0,pink floyd,1987.0,rock,4.0,1.0
23,1350.0,pink floyd,2014.0,rock,4.0,1.0
24,4.0,my bloody valentine,1991.0,rock,0.0,0.0
25,194.0,my bloody valentine,1988.0,rock,0.0,0.0
26,279.0,my bloody valentine,2013.0,rock,0.0,0.0
27,5.0,kanye west,2010.0,pop,0.0,0.0
28,20.0,kanye west,2013.0,hip-hop,0.0,0.0
29,28.0,kanye west,2004.0,pop,0.0,0.0
30,38.0,kanye west,2016.0,pop,0.0,0.0
31,42.0,kanye west,2005.0,pop,0.0,0.0
32,44.0,kanye west,2007.0,pop,0.0,0.0
33,57.0,kanye west,2008.0,electronic,0.0,0.0
34,61.0,kanye west,2018.0,pop,0.0,0.0
35,110.0,kanye west,2019.0,hip-hop,0.0,0.0
36,148.0,kanye west,2021.0,hip-hop,0.0,0.0
37,8.0,neutral milk hotel,1998.0,rock,0.0,0.0
38,427.0,neutral milk hotel,1996.0,rock,0.0,0.0
39,10.0,kendrick lamar,2015.0,jazz,0.0,0.0
40,17.0,kendrick lamar,2012.0,hip-hop,0.0,0.0
41,47.0,kendrick lamar,2017.0,hip-hop,0.0,0.0
42,158.0,kendrick lamar,2016.0,jazz,0.0,0.0
43,177.0,kendrick lamar,2011.0,hip-hop,0.0,0.0
44,11.0,the velvet underground & nico,1967.0,rock,0.0,0.0
45,12.0,king crimson,1969.0,rock,0.0,0.0
46,101.0,king crimson,1974.0,rock,0.0,0.0
47,277.0,king crimson,1973.0,rock,0.0,0.0
48,331.0,king crimson,1981.0,rock,0.0,0.0
49,472.0,king crimson,1970.0,rock,0.0,0.0

In [21]:
most_popular_albuns_and_nominated_artists.to_csv('../../Data/cleaned_data/merged_data/most_popular_albuns_and_nominated_artists.csv', index = False)