In [2]:
import pandas as pd
import numpy as np

In [3]:
most_popular_music_genres = pd.read_csv('../../Data/cleaned_data/merged_data/most_popular_albuns_and_nominated_artists_with_sales.csv')

In [4]:
most_popular_music_genres.tail(50)

,popular_albuns_rank,artist_band,reference_year,musical_genre,total_awards_nominations,uk number 1's,million_sales
4862,0,the drifters,1960,soul,1,0,0
4863,0,james taylor,1970,folk,18,0,100
4864,0,booker t & the mg's,1960,soul,4,0,0
4865,0,diana ross and the supremes,1970,soul,2,1,0
4866,0,carl perkins,1950,rock,2,0,0
4867,0,mariah carey,1990,pop,0,0,220
4868,0,whitney houston,1984,soul,0,0,200
4869,0,celine dion,1981,rock,0,0,200
4870,0,garth brooks,1989,country,0,0,170
4871,0,barbra streisand,1963,pop,0,0,150
4872,0,chris brown,2005,pop,0,0,140
4873,0,bee gees,1963,pop,0,0,120
4874,0,george strait,1984,country,0,0,100
4875,0,pink,2000,pop,0,0,100
4876,0,b'z,1988,rock,0,0,100
4877,0,shania twain,1993,country,0,0,100
4878,0,backstreet boys,1995,pop,0,0,100
4879,0,neil diamond,1966,pop,0,0,100
4880,0,journey,1975,rock,0,0,100
4881,0,kenny rogers,1975,country,0,0,100
4882,0,julio iglesias,1968,latin pop,0,0,100
4883,0,foreigner,1977,rock,0,0,100
4884,0,chicago,1969,rock,0,0,100
4885,0,the carpenters,1969,pop,0,0,100
4886,0,"earth, wind & fire",1971,soul,0,0,100
4887,0,cher,1965,pop,0,0,100
4888,0,olivia newton-john,1966,pop,0,0,100
4889,0,linda ronstadt,1968,rock,0,0,100
4890,0,donna summer,1974,pop,0,0,100
4891,0,alicia keys,2001,soul,0,0,90
4892,0,christina aguilera,1998,soul,0,0,901
4893,0,lionel richie,1981,pop,0,0,90
4894,0,flo rida,2007,hip-hop,0,0,80
4895,0,usher,1994,soul,0,0,80
4896,0,shakira,1995,latin pop,0,0,80
4897,0,tim mcgraw,1994,country,0,0,80
4898,0,ayumi hamasaki,1998,electronic,0,0,80
4899,0,johnny hallyday,1960,rock,0,0,80
4900,0,luke bryan,2007,country,0,0,75
4901,0,tupac shakur,1991,hip-hop,0,0,75
4902,0,alabama,1980,country,0,0,75
4903,0,r. kelly,1991,soul,0,0,75
4904,0,robbie williams,1996,pop,0,0,75
4905,0,bob seger,1967,rock,0,0,75
4906,0,kenny g,1984,jazz,0,0,75
4907,0,enya,1987,new-age / celtic,0,0,75
4908,0,bryan adams,1979,rock,0,0,75
4909,0,bob marley,1975,reggae,0,0,75
4910,0,gloria estefan,1984,latin pop,0,0,75
4911,0,barry manilow,1973,pop,0,0,75

In [5]:
# Question 1. 

#Which are the most popular genres and subgenres in the decades of 50's, 60's, 70's, 80's, 90's, 00's, 10's ?


    #Measure the music_genre popularity:

        #analyze by grouping by year and genre:
            #genres with most awards nominations
            #genres with most appearences on uk number 1's
            #genres that had more sales
            #genres with the most number of popular albuns
            #genres with the greater rank of popular albuns

In [6]:
def get_decade_from_year(x):
    if x<1960:
        return "50's"
    if 1960<=x<1970:
        return "60's"
    if 1970<=x<1980:
        return "70's"
    if 1980<=x<1990:
        return "80's"
    if 1990<=x<2000:
        return "90's"
    if 2000<=x<2010:
        return "00's"
    if x>=2010:
        return "10's"
    
most_popular_music_genres['reference_year'] = most_popular_music_genres['reference_year'].apply(get_decade_from_year)
most_popular_music_genres = most_popular_music_genres.rename(columns={'reference_year':'decade'})

In [7]:
most_popular_music_genres

,popular_albuns_rank,artist_band,decade,musical_genre,total_awards_nominations,uk number 1's,million_sales
0,1,radiohead,90's,rock,18,0,0
1,2,radiohead,00's,rock,18,0,0
2,6,radiohead,00's,rock,18,0,0
3,9,radiohead,90's,rock,18,0,0
4,21,radiohead,00's,rock,18,0,0
...,...,...,...,...,...,...,...
4907,0,enya,80's,new-age / celtic,0,0,75
4908,0,bryan adams,70's,rock,0,0,75
4909,0,bob marley,70's,reggae,0,0,75
4910,0,gloria estefan,80's,latin pop,0,0,75
4911,0,barry manilow,70's,pop,0,0,75

In [15]:
most_popular_music_genres.to_csv('../../Data/cleaned_data/most_popular_music_genres.to_csv')

In [14]:
most_popular_music_genres.groupby(['decade','musical_genre']).agg({'popular_albuns_rank':'count'})

                      popular_albuns_rank
decade musical_genre
00's   blues                            1
       country                          7
       electronic                      74
       folk                            48
       hip-hop                         67
...                                   ...
90's   latin pop                        1
       metal                          212
       pop                             56
       rock                           416
       soul                             6

[66 rows x 1 columns]